@import "tailwindcss";
/* src/app/globals.css */
/* src/app/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Optional - helps reduce scroll caused by Tailwind spacing */
* {
  box-sizing: inherit;
}


